<div class="row">
  <div class="col-xs-8">
    <h1>THE Link Board</h1>
  </div>
  <div class="col-xs-4">
    <%= link_to '', new_post_path, class: 'btn btn-primary glyphicon glyphicon-plus pull-right' %>
  </div>
</div>

<% @post.each do |post| %>
  <div class="well">
    <h2><%= link_to post.title, post.link %></h2>
    <strong>By <%= post.user.name %></strong>
  </div>
<% end %>
